OPENAI_API_KEY=sk-
FLASK_DEBUG=false
FLASK_PORT=5000
FLASK_RELOAD=true
BASE_URL_AI=https://api.openai.com/v1
OPENAI_MODEL=gpt-5.1

ENABLE_DATABASE=false
POSTGRES_URL=postgresql://postgres:root@localhost:5432/scrap_stock?schema=public
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=scrap_stock
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_TABLE=fundamental_results
